streamlit
langchain
openai
llama-index
nltk
langdetect
spacy
https://github.com/explosion/spacy-models/releases/download/sv_core_news_sm-3.6.0/sv_core_news_sm-3.6.0.tar.gz
faiss-cpu
streamlit_lottie
requests




